<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/header.css">
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <script src="../../js/header.js" defer></script>

    <title>header</title>
</head>
<body>

<header>
    <a class="home_btn" href="#">
        <img src="../../image/logo/logo.svg" alt="헤더로고">
    </a>

    <ul class="main_menu">
        <li>
            <a href="" class="menu_link">Women</a>
            <div class="submenu_container">
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">의류</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">반팔</a></li>
                        <li><a href="">바람막이/집업</a></li>
                        <li><a href="">맨투맨/후디</a></li>
                        <li><a href="">팬츠</a></li>
                        <li><a href="">스커트/원피스</a></li>
                        <li><a href="">트레이닝 셋업</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">Heritage Collection</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">신발</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">라이프스타일</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">샌들/슬리퍼</a></li>
                        <li><a href="">에샤페</a></li>
                        <li><a href="">리트모</a></li>
                        <li><a href="">글리오</a></li>
                        <li><a href="">하레핀</a></li>
                        <li><a href="">인터런</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">용품</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">피클볼</a></li>
                        <li><a href="">백팩</a></li>
                        <li><a href="">숄드/토트백</a></li>
                        <li><a href="">메신저/크로스백</a></li>
                        <li><a href="">짐백</a></li>
                        <li><a href="">슬링백/힙색</a></li>
                        <li><a href="">모자</a></li>
                        <li><a href="">양말</a></li>
                        <li><a href="">기타</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">언더웨어</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">BEST</a></li>
                        <li><a href="">브라+팬티 SET</a></li>
                        <li><a href="">컬렉션</a></li>
                        <li><a href="">쿨웨이브</a></li>
                        <li><a href="">최화정's 버터소프트</a></li>
                        <li><a href="">와이어브라</a></li>
                        <li><a href="">노와이어브라</a></li>
                        <li><a href="">브라탑</a></li>
                        <li><a href="">팬티</a></li>
                        <li><a href="">사각드로즈</a></li>
                        <li><a href="">파자마</a></li>
                        <li><a href="">이지웨어</a></li>
                        <li><a href="">Accessories</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">스포츠</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">트레이닝</a></li>
                        <li><a href="">피트니스</a></li>
                        <li><a href="">피클볼</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a href="" class="menu_link">Men</a>
            <div class="submenu_container">
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">의류</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">반팔</a></li>
                        <li><a href="">바람막이/집업</a></li>
                        <li><a href="">맨투맨/후디</a></li>
                        <li><a href="">팬츠</a></li>
                        <li><a href="">스커트/원피스</a></li>
                        <li><a href="">트레이닝 셋업</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">Heritage Collection</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">신발</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">라이프스타일</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">샌들/슬리퍼</a></li>
                        <li><a href="">에샤페</a></li>
                        <li><a href="">리트모</a></li>
                        <li><a href="">글리오</a></li>
                        <li><a href="">하레핀</a></li>
                        <li><a href="">인터런</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">용품</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">피클볼</a></li>
                        <li><a href="">백팩</a></li>
                        <li><a href="">숄드/토트백</a></li>
                        <li><a href="">메신저/크로스백</a></li>
                        <li><a href="">짐백</a></li>
                        <li><a href="">슬링백/힙색</a></li>
                        <li><a href="">모자</a></li>
                        <li><a href="">양말</a></li>
                        <li><a href="">기타</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">언더웨어</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">BEST</a></li>
                        <li><a href="">브라+팬티 SET</a></li>
                        <li><a href="">컬렉션</a></li>
                        <li><a href="">쿨웨이브</a></li>
                        <li><a href="">최화정's 버터소프트</a></li>
                        <li><a href="">와이어브라</a></li>
                        <li><a href="">노와이어브라</a></li>
                        <li><a href="">브라탑</a></li>
                        <li><a href="">팬티</a></li>
                        <li><a href="">사각드로즈</a></li>
                        <li><a href="">파자마</a></li>
                        <li><a href="">이지웨어</a></li>
                        <li><a href="">Accessories</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">스포츠</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">테니스</a></li>
                        <li><a href="">러닝</a></li>
                        <li><a href="">트레이닝</a></li>
                        <li><a href="">피트니스</a></li>
                        <li><a href="">피클볼</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a href="" class="menu_link">Kids</a>
            <div class="submenu_container">
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">의류</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">FILA KIDS TEENIEPING</a></li>
                        <li><a href="">상하의 셋업</a></li>
                        <li><a href="">티셔츠</a></li>
                        <li><a href="">쇼츠</a></li>
                        <li><a href="">팬츠/레깅스</a></li>
                        <li><a href="">바람막이/집업/자켓</a></li>
                        <li><a href="">후드티/맨투맨</a></li>
                        <li><a href="">스커트</a></li>
                        <li><a href="">원피스</a></li>
                        <li><a href="">스윔웨어</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">신발</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">어반크릭샌들</a></li>
                        <li><a href="">리틀에샤페</a></li>
                        <li><a href="">레인저/레인저코어</a></li>
                        <li><a href="">인터런 키즈</a></li>
                        <li><a href="">휠라꾸미</a></li>
                        <li><a href="">샌들</a></li>
                        <li><a href="">운동화(130⁓160mm)</a></li>
                        <li><a href="">운동화(170⁓240mm)</a></li>
                        <li><a href="">레인부츠</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">용품</a></b>
                    <ul class="submenu">
                        <li><a href="">전체보기</a></li>
                        <li><a href="">26 신학기 책가방</a></li>
                        <li><a href="">책가방</a></li>
                        <li><a href="">보조가방</a></li>
                        <li><a href="">모자</a></li>
                        <li><a href="">양말</a></li>
                        <li><a href="">기타</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <a href="" class="menu_link">Tennis</a>
            <div class="submenu_container">
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">여성</a></b>
                    <ul class="submenu">
                        <li><a href="">의류</a></li>
                        <li><a href="">신발</a></li>
                        <li><a href="">용품</a></li>
                    </ul>
                </div>
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">남성</a></b>
                    <ul class="submenu">
                        <li><a href="">의류</a></li>
                        <li><a href="">신발</a></li>
                        <li><a href="">용품</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="" class="menu_link">F, H, C</a>
            <div class="submenu_container">
                <div class="submenu_item">
                    <b class="submenu_title"><a href="">FILA Heritage Collection</a></b>
                    <ul class="submenu">
                        <li><a href="">SS26</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <nav>
        <ul>
            <li>
                <a class = "header_icon" href="#">
                    <i class="fa-solid fa-map-location-dot"></i>
                </a>
            </li>
            <li>
                <a class = "header_icon" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </li>
            <li>
                <a class = "header_icon" href="#">
                    <i class="fa-regular fa-user"></i>
                </a>
            </li>
            <li>
                <a class = "header_icon" href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>